<%%# locals: (form:, field_name:, label: field_name.to_s.humanize, enum_options: [], css_class: "", required: false) %>

<%%= form.select field_name,
    options_for_select(enum_options, form.object.send(field_name)),
    { prompt: "Select #{label.downcase}" },
    class: class_names("record-edit__field-input form-select", css_class),
    required: %>
